<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
      window.onload = () => {
        document.getElementById("pasteTarget").
        addEventListener("paste", pasteHandler);
      };

      const pasteHandler = (e) => {
        for (let i = 0 ; i < e.clipboardData.items.length ; i++) {
          let item = e.clipboardData.items[i];
          if (item.type.indexOf("image") != -1) {
              let blob = item.getAsFile();
              uploadImage(blob);
          } 
        }
      };

      function uploadImage(blob) {
        var xhr = new XMLHttpRequest();

        xhr.upload.onprogress = (e) => {
            var percentComplete = (e.loaded / e.total) * 100;
            console.log("Uploaded: " + percentComplete + "%");
        };

        xhr.onload = () => {
            if (xhr.status == 200) {
                alert("Sucess! Upload completed");
            } else {
                alert("Error! Upload failed");
            }
        };

        xhr.onerror = () => {
            alert("Error! Upload failed. Can not connect to server.");
        };

        xhr.open("POST", "FileUploader", true);
        xhr.setRequestHeader("Content-Type", blob.type);
        xhr.send(blob);
    }
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    


    <title>Image-to-Link</title>
  </head>
  <body>
    <div class="container m-5">
        <div class="row">
            <div class="col-md-12">
            <h1>Image-to-Link</h1>
            <p>
                This is a simple tool to convert images to links.
            </p>
            <textarea class="w-75 h-100" style="background: lightgrey" id="pasteTarget" placeholder="Paste your image here" autofocus></textarea>
        </div>
    </div>
  </body>
</html>
